
<div class="option_content job_category_section" th:fragment="filter" th:remove>
	<h2 class="blind">직업 선택</h2>
		<!-- 카테고리 depth -->
		<div class="details">
			<!-- wrap_depth_category -->
			<h4 class="blind">카테고리 선택</h4>

			<div class="box_jobs">
				<script id="sp_job_category_home_template"
					type="text/x-handlebars-template">
				{{#mclsList}}
				{{#hasCountInJobCategory count}}
				<button type="button" class="btn_job" data-mcls_cd_no="{{mclsCdNo}}">{{mclsCdNm}}</button>
				{{/hasCountInJobCategory}}
				{{/mclsList}}
				</script>
				<button type="button" class="btn_job" data-mcls_cd_no="16">기획·전략</button>
				<button type="button" class="btn_job" data-mcls_cd_no="14">마케팅·홍보·조사</button>
				<button type="button" class="btn_job" data-mcls_cd_no="3">회계·세무·재무</button>
				<button type="button" class="btn_job" data-mcls_cd_no="5">인사·노무·HRD</button>
				<button type="button" class="btn_job" data-mcls_cd_no="4">총무·법무·사무</button>

			</div>

			<div class="box_detail_jobs" style="float: left; width: 20%;">
				<div class="box_onedepth" style="float: left; width: 20%;">
					<div class="wrap_scroll">
						<div class="scrollbar">
							<div class="track">
								<div class="thumb">
									<div class="end"></div>
								</div>
							</div>
						</div>
						<div class="viewport">
							<ul class="list overview">
								<script id="sp_job_category_oneDepth_template"
									type="text/x-handlebars-template">
									{{#mclsList}}
										{{#hasCountInJobCategory count}}
										<li class="item_job depth1_btn_wrapper" id="depth1_btn_{{mclsCdNo}}">
											<button type="button" data-mcls_cd_no="{{mclsCdNo}}" class="first_depth depth1_btn_{{mclsCdNo}}">
												<span class="txt">{{mclsCdNm}} </span>
												<span class="count">({{toStringByComma count}})</span>
											</button>
										</li>
										{{/hasCountInJobCategory}}
									{{/mclsList}}
								</script>
							</ul>
					</div>
				</div>
			</div>

			<script id="sp_job_category_subDepth_template"
				type="text/x-handlebars-template">
			<div class="box_detail_depth">
			<div class="row list">
			<div class="wrap_scroll">
			<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
			<div class="viewport">
				<div class="overview">
					{{#sclsList}}
					<dl class="row_item">
						<dt>
							<button type="button" class="btn_expand" data-scls_cd_no="{{sclsCdNo}}"><span class="txt">{{sclsCdNm}}</span></button>
						</dt>
						<dd class="area_list">
							{{#kewdList}}
							<button type="button" name="cat_kewd[]" class="btn_three_depth"
									data-code="{{kewdCdNo}}" data-mcls_cd_no="{{../mclsCdNo}}" data-mcls_cd_nm="{{../mclsCdNm}}"
									data-kewd_cd_no="{{kewdCdNo}}" data-kewd_cd_nm="{{kewdCdNm}}" data-sort="{{sort}}"
									data-count="{{count}}">{{kewdCdNm}}<span class="count">({{toStringByComma count}})</span></button>
							{{/kewdList}}
						</dd>
					</dl>
					{{/sclsList}}
				</div>
			</div>
			</div>
			</div>
			</div>
			</script>
		</div>
	</div>
</div>
