<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="newlayout">
<head>
    
    <title>여기에 있는 title은 newlayout의 타이틀에 덮어씌울거</title>
    <script src="/bootstrap/js/gptjs.js"></script>
    <link rel="stylesheet" media="screen" href="/bootstrap/css/gptcss.css">
</head>
<body>
    head의 script gptjs.js 태그는 productUsingLayout에서만 사용할 스크립트

    <th:block layout:fragment="content">여기에 있는 content는 newlayout의 컨텐츠 부분에 들어갈거</th:block>

이제
컨트롤러에서 productUsingLayout으로 페이지 이동 시키면 newlayout에 여기의 태그들을 덧붙여서 렌더링해줌 
</body>
</html>