<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="newlayout('myPage')">
<head>
    
</head>
<body>
  

    <th:block layout:fragment="content">
        <!-- Off-Canvas Wrapper-->
	<div class="offcanvas-wrapper">
		<!-- Page Content-->

		<!-- Page Title-->
		<div class="page-title">
			<div class="container">
				<div class="column">
					<h1>My Wishlist</h1>
				</div>
				<div class="column">
					<ul class="breadcrumbs">
						<li><a href="index.html">Home</a></li>
						<li class="separator">&nbsp;</li>
						<li><a href="account-orders.html">Account</a></li>
						<li class="separator">&nbsp;</li>
						<li>My Wishlist</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Page Content-->
		<div class="container padding-bottom-3x mb-2">
			<div class="row">
				<!--profile component-->
				<div class="col-lg-4" th:insert="mypage_component :: mypage"></div>
				<!--profile component 끝-->


				<div class="col-lg-8">
					<div class="padding-top-2x mt-2 hidden-lg-up"></div>
					<div class="table-responsive wishlist-table margin-bottom-none">
						<!-- Wishlist Table-->
						<!-- 하위 태그들은 size==1이면 빈상자 이미지로 대체-->
						<table class="table"
							th:include="myProduct-component :: product-table"></table>
						<!-- Wishlist Table-->
					</div>
					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input class="custom-control-input" type="checkbox" id="inform_me"
							checked> <label class="custom-control-label"
							for="inform_me">Inform me when item from my wishlist is
							available</label>
					</div>
				</div>
			</div>
		</div>

    </th:block>


</body>
</html>