<!-- Sidebar -->
	<div th:fragment="nav">
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
				<div class="sidebar-brand-text mx-3">DANAGA <sup>.com</sup></div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" href="/admin">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard</span></a>
			</li>
			
			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">
				BUSINESS MANAGEMENT
			</div>

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
					aria-expanded="true" aria-controls="collapseTwo">
					<i class="fas fa-fw fa-cog"></i>
					<span>상품관리</span>
				</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="/admin/admin_product_insert">상품등록</a>
						<a class="collapse-item" href="/admin/admin_product_list">상품삭제</a>
					</div>
				</div>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="/admin/admin_order_list">
					<i class="fas fa-fw fa-folder"></i>
					<span>주문관리</span>
				</a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">
				SITE MANAGEMENT
			</div>

			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item">
				<a class="nav-link" href="/admin/admin_member_list">
					<i class="fas fa-fw fa-folder"></i>
					<span>회원 리스트</span>
				</a>
			</li>

			<!-- Nav Item - Tables -->
			<li class="nav-item">
				<a class="nav-link" href="/admin/admin_board_list">
					<i class="fas fa-fw fa-table"></i>
					<span>게시글 리스트</span></a>
			</li>
			
			<!-- Divider -->
			<hr class="sidebar-divider">
			
			<li class="nav-item">
				<a class="nav-link" href="/index">
					<i class="fas fa-fw fa-table"></i>
					<span>다나가닷컴으로</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		</div>
		<!-- End of Sidebar -->