<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="layout/layout(title='장바구니')">
  <!-- Body-->
	  <!-- Header -->
<head>
	<link rel="stylesheet" media="screen" href="bootstrap/css/cart.css">
</head>
<body>
      <!-- Page Content-->
        <th:block layout:fragment="content">
      <!-- Main Slider-->
        
         <!-- Modal 시작-->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
	  		<div class="modal-content">
			 <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">옵션변경</h5>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				     <span aria-hidden="true">&times;</span>
				     </button>
			 </div>
				 <div class="modal-body">
				  <select id="selectbox" class="form-control">
                    <option>1</option> 
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
				 </div>
					<div class="modal-footer">
					 	<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					  	<button type="button" class="btn btn-primary">변경</button>
					</div>
			</div>
		</div>
	</div>
	<!-- Modal 끝-->
	
      <!-- Page Content-->
        
      <!-- content 시작 -->
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
      <!-- Shopping Cart-->
      <div class="table-responsive shopping-cart">
        <table class="table">
          <thead>
            <tr>
              <th class="cartAllCheck">
                <label><input type="checkbox" checked="checked" id="chkBasketAll" name="chkBasketAll"
                    class="basket_CheckBox" onclick="selectAll(this)"></label>
              </th>
              <th class="product-title-name">상품명</th>
              <th class="text-center">수량</th>
              <th class="text-center">결제액</th>
              <th class="text-center">할인가</th>
              <th class="text-center">주문 관리</th>
              
            </tr>
          </thead>
          <tbody>
			  
			  <!-- 반복문 가즈아 -->
            <tr class="cart_info" th:each="cart:${cart}">
              <td class="prd-check-td">
                <div class="prd-check">
                  <input type="checkbox" class="checkbox" checked="checked" name="checkbox">
                  <input type="hidden" class="totalPrice" th:value="${cart.totalPrice}">
			 	  <input type="hidden" class="cart_qty" th:value="${cart.qty}">
			 	  <input type="hidden" class="cart_osId" name="cart_osId" th:value="${cart.osId}">
                </div>
              </td>
              <td>
                <div class="product-item"><a class="product-thumb" href="shop-single.html"><img
                      src="img/shop/cart/01.jpg" alt="Product" th:src="${cart.pImage}"></a>
                  <div class="product-info">
                    <h4 class="product-title" >
						<a href="shop-single.html" th:text="${cart.productName}">Unionbay Park</a>
					</h4>
				  <div th:each="option: ${cart.options}">
					<span th:text="${option.name + ': ' + option.value}">Size: 10.5</span>			
				  </div>
					
					
					
                  </div>
                </div>
              </td>
              <td class="text-center">
                <div class="count-input">
                  <select id="selectbox" class="form-control">
                    <option th:text="${cart.qty}">1</option> 
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </td>
              <td class="text-center text-lg text-medium" th:text="${cart.totalPrice} * ${cart.qty}">2,332,000</td>
              <td class="text-center text-lg text-medium" th:text="${cart.totalPrice}">332,000</td>
              <td class="text-center">
                <a class="plain-btn optionchange" data-toggle="modal" data-target="#exampleModal">옵션변경</a>
                <a href="javascript:void(0)" class="plain-btn" onclick="deleteCart(this)" >삭제하기</a>
              </td>
            </tr>
            
            <!-- 반복문 끝 --> 
            
          </tbody>
        </table>
      </div>
      <div class="shopping-cart-footer">

        <div class="column text-lg"> 총 결제금액: 
			<span class="text-medium">$289.68</span>
		</div>
      </div>
      <div class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" href="shop-grid-ls.html">&nbsp;쇼핑 계속하기</a></div>
        <div class="column"></div>
        <div class="column">
          <a href="javascript:void(0)" class="btn btn-selectdelete" onclick="selectdelete()">선택삭제</a>
          <a class="btn btn-success" href="checkout-address.html">주문하기</a>
        </div>
      </div>
      <!-- Related Products Carousel-->
      <h3 class="text-center padding-top-2x mt-2 padding-bottom-1x">이런 상품은 어떠세요?</h3>
      <!-- Carousel-->
      <div class="owl-carousel"
        data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;margin&quot;: 30, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;576&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3},&quot;991&quot;:{&quot;items&quot;:4},&quot;1200&quot;:{&quot;items&quot;:4}} }">
        <!-- Product-->
        <div class="grid-item">
          <div class="product-card">
            <div class="product-badge text-danger">22% Off</div><a class="product-thumb" href="shop-single.html"><img
                src="img/shop/products/09.jpg" alt="Product"></a>
            <h3 class="product-title"><a href="shop-single.html">Rocket Dog</a></h3>
            <h4 class="product-price">
              <del>$44.95</del>$34.99
            </h4>
            <div class="product-buttons">
              <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i
                  class="icon-heart"></i></button>
              <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                data-toast-message="successfuly added to cart!">장바구니 담기</button>
            </div>
          </div>
        </div>
        <!-- Product-->
        <div class="grid-item">
          <div class="product-card">
            <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i
                class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star"></i>
            </div><a class="product-thumb" href="shop-single.html"><img src="img/shop/products/03.jpg"
                alt="Product"></a>
            <h3 class="product-title"><a href="shop-single.html">Oakley Kickback</a></h3>
            <h4 class="product-price">$155.00</h4>
            <div class="product-buttons">
              <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i
                  class="icon-heart"></i></button>
              <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                data-toast-message="successfuly added to cart!">장바구니 담기</button>
            </div>
          </div>
        </div>
        <!-- Product-->
        <div class="grid-item">
          <div class="product-card"><a class="product-thumb" href="shop-single.html"><img src="img/shop/products/12.jpg"
                alt="Product"></a>
            <h3 class="product-title"><a href="shop-single.html">Vented Straw Fedora</a></h3>
            <h4 class="product-price">$49.50</h4>
            <div class="product-buttons">
              <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i
                  class="icon-heart"></i></button>
              <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                data-toast-message="successfuly added to cart!">장바구니 담기</button>
            </div>
          </div>
        </div>
        <!-- Product-->
        <div class="grid-item">
          <div class="product-card">
            <div class="rating-stars"><i class="icon-star filled"></i><i class="icon-star filled"></i><i
                class="icon-star filled"></i><i class="icon-star filled"></i><i class="icon-star filled"></i>
            </div><a class="product-thumb" href="shop-single.html"><img src="img/shop/products/11.jpg"
                alt="Product"></a>
            <h3 class="product-title"><a href="shop-single.html">Top-Sider Fathom</a></h3>
            <h4 class="product-price">$90.00</h4>
            <div class="product-buttons">
              <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i
                  class="icon-heart"></i></button>
              <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                data-toast-message="successfuly added to cart!">장바구니 담기</button>
            </div>
          </div>
        </div>
        <!-- Product-->
        <div class="grid-item">
          <div class="product-card"><a class="product-thumb" href="shop-single.html"><img src="img/shop/products/04.jpg"
                alt="Product"></a>
            <h3 class="product-title"><a href="shop-single.html">Waist Leather Belt</a></h3>
            <h4 class="product-price">$47.00</h4>
            <div class="product-buttons">
              <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i
                  class="icon-heart"></i></button>
              <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                data-toast-message="successfuly added to cart!">장바구니 담기</button>
            </div>
          </div>
        </div>
        <!-- Product-->
        <div class="grid-item">
          <div class="product-card">
            <div class="product-badge text-danger">50% Off</div><a class="product-thumb" href="shop-single.html"><img
                src="img/shop/products/01.jpg" alt="Product"></a>
            <h3 class="product-title"><a href="shop-single.html">Unionbay Park</a></h3>
            <h4 class="product-price">
              <del>$99.99</del>$49.99
            </h4>
            <div class="product-buttons">
              <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip" title="Whishlist"><i
                  class="icon-heart"></i></button>
              <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Product"
                data-toast-message="successfuly added to cart!">장바구니 담기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- content end -->
        
    
	</th:block>    
 <th:block layout:fragment="recommendation">
 </th:block>
<th:block layout:fragment="script">

<script th:inline="javascript">

/* 옵션 변경때 사용해야할듯싶다..
$('#modalLarge').on('show.bs.modal',function(e) {
	alert('#modalLarge가 보여지기직전에 띄어짐');
	// ajax 요청
	$(e.target).find('.modal-title').html("모달에 띄어지는 타이틀[ajax receive data]");
	$(e.target).find('.modal-body p').html("모달에 띄어지는 타이틀[ajax receive data]");
	$(e.target).find('.modal-footer .btn-primary').click(function(e1) {
		alert('close button click!!')   // 옵션 변경후 save 시킬 버튼 여기다 ajax처리
	});
});
*/



/* 선택한 상품의 최종 정보 */
/*
$(".checkbox").on("click",function() {
	setTotalInfo($(".cart_info"));
});
	*/

/* 카트 1개 삭제 */	

/*
function deleteCart(obj) {
	let osId = obj.dataset.id;
	
	let url = "/cart/check/" + osId;
	console.log(osId);
	

	if(confirm("장바구니를 삭제하시겠습니까?")) {
		$.ajax({
		url : url,
		type : "DELETE",
		dataType : "json",
		cache: false,
		success: function() {}
		});
		alert('삭제완료');
		location.href='http://localhost:80/cart/list';
	} 
	
	
}
*/

let osId = "${cart.osId}";

/* 선택한 제품 삭제 */
function selectdelete() {
	
	let osIdArr = [];
	osIdArr.push(osId);
	console.log(osIdArr);
	let url = "/cart/check/" + osIdArr;
	
	$(".cart_info").each(function(index, element) {
		if($(element).find(".checkbox").is(":checked") === true) {
			if(confirm("장바구니를 삭제하시겠습니까?")) {
				$.ajax({
				url : url,
				type : "DELETE",
				data : JSON.stringify(osIdArr),
				dataType : "json",
				cache: false,
				success: function() {}
				});
				alert('삭제완료');
				location.href='http://localhost:80/cart/list';
			} 
	
		}
	});
	
	
	
}


/*
$('.checkbox').click(function() {
	if(confirm("선택한 장바구니 삭제하시겠습니까?")) { 
		let checkArr = new Array();
		
	}
});
	
*/
<!-- 체크박스 전체 선택-->
function selectAll(selectAll) {
	const checkboxes = document.getElementsByName('checkbox');
	
	checkboxes.forEach((checkbox) => {
		checkbox.checked = selectAll.checked;
	})
}


/*
function setTotalInfo() {
	let totalPrice = 0;
	let qty = 0;
	
	$(".cart_info").each(function(index, element) {
		if($(element).find(".checkbox").is(":checked") === true) {
			// 총 가격
			totalPrice += parseInt($(element).find(".totalPrice").val());
		}
	});
	
	// 총 가격
	$(".text-medium").text(totalPrice.toLocaleString);
}
*/
</script>
</th:block>
 </body>
</html>