<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="layout/layout(title='')">
  <!-- Body-->
	  <!-- Header -->
    <head th:insert="include_common :: head"></head>
  
    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Content-->
      <!-- Main Slider-->
      <section class="hero-slider" style="background-image: url(img/hero-slider/main-bg.jpg);">
        
        
        <th:block layout:fragment="content">
        여기를 채워주시면 됩니다
        </th:block>
        
        
      </section>
      <div th:insert="include_common :: footer"></div>
    </div>
    
    
    <!-- Back To Top Button-->
    <a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    
    <th:block layout:fragment="script">
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script src="/bootstrap/js/vendor.min.js"></script>
    <script src="/bootstrap/js/scripts.min.js"></script>
    </th:block>
  </body>
</html>