<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="layout/layout(title='')">
  <!-- Body-->
	  <!-- Header -->
<head>
</head>
      <!-- Page Content-->
        <th:block layout:fragment="content">
      <!-- Main Slider-->
      <section class="hero-slider" style="background-image: url(img/hero-slider/main-bg.jpg);">
        
        
        여기를 채워주시면 됩니다
        
        
      </section>
    
	</th:block>    
 
  </body>
</html>.




