<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout(title='')">
<!-- Body-->
<!-- Header -->

<head th:insert="include_common :: head"></head>

<!-- Off-Canvas Wrapper-->
<div class="offcanvas-wrapper">
	<!-- Page Content-->
	<!-- Main Slider-->
	<section class="hero-slider" style="background-image: url(img/hero-slider/main-bg.jpg);">


		<th:block layout:fragment="content">
			<!-- Page Content-->
			<div class="container padding-bottom-3x mb-2">
				<div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-6">
						<div class="padding-top-2x mt-2 hidden-lg-up"></div>

						<h6 class="text-muted text-normal text-uppercase padding-top-2x" style="margin-left: 150px;">환불
							하기</h6>
						<hr class="margin-bottom-1x">
						<div class="table-responsive" style="margin-left: -150px; width: 120%;">
							<table class="table">
								<thead class="thead-inverse">
									<tr>
										<th style="width: 500px; white-space: nowrap;">주문 번호</th>
										<th style="width: 500px; white-space: nowrap;">주문 상세번호</th>
										<th style="width: 500px; white-space: nowrap;">주문 날짜</th>
										<th style="width: 500px; white-space: nowrap;">상품 갯수</th>
										<th style="width: 500px; white-space: nowrap;">총 가격</th>
										<th style="width: 500px; white-space: nowrap;">현재 주문 상태</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row" style="width: 500px;">112</th>
										<td style="width: 500px; white-space: nowrap;">좋은 컴퓨터 외
											5개</td>
										<td style="width: 500px; white-space: nowrap;">2023.10.15</td>
										<td style="width: 500px; white-space: nowrap;">15개</td>
										<td style="width: 500px; white-space: nowrap;">13,000,000원</td>
										<td style="width: 500px; white-space: nowrap;">배송완료</td>
									</tr>

								</tbody>
							</table>
						</div>



						<div class="row">
							<div class="col-md-6">
								<form class="form-group">
									<label for="account-fn">은행이름</label>
									<input class="form-control" type="text" name="bankName" id="bankName" value="은행이름"
										required>
								</form>

								<form class="form-group">
									<label for="account-ln">계좌주</label>
									<input class="form-control" type="text" name="accountName" id="accountName"
										value="계좌주" required>
								</form>
							</div>

							<div class="col-md-6">
								<form class="form-group">
									<label for="refund-account">환불 계좌번호</label>
									<input class="form-control" type="text" name="acNo" id="acNo" value="환불 계좌번호"
										required>
								</form>

								<form class="form-group">
									<label for="refund-reason">환불 사유</label>
									<input class="form-control" type="text" name="description" id="description"
										value="환불 사유" required>
								</form>
							</div>
						</div>



						<!-- 네, 아니오 버튼 추가 -->
						<div class="row">
							<div class="col-md-6 text-right">
								<button type="button" class="btn btn-secondary ml-2"
									th:onclick="insertRefund([[${ordersDto.getId()}]])">네</button>
								<button type="button" class="btn btn-secondary ml-5">아니오</button>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>

</th:block>




</section>
<div th:insert="include_common :: footer"></div>
</div>


<!-- Back To Top Button-->
<a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
<!-- Backdrop-->
<div class="site-backdrop"></div>

<th:block layout:fragment="script">
	<!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
	<script src="/bootstrap/js/vendor.min.js"></script>
	<script src="/bootstrap/js/scripts.min.js"></script>
</th:block>




<th:block layout:fragment="script">
	<script type="text/javascript">

		function insertRefund(orderId) {
			// 세션에서 orderId 가져오기
			console.log('orderId=  ' + orderId);
			let form = document.createElement('form');
			form.method = 'POST';
			form.action = '/saveRefund' + orderId;
			document.body.appendChild(form);
			form.submit();
		}
	</script>
</th:block>




</body>

</html>