<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Body-->
<div th:insert="include_common :: header"></div>


<!-- Header -->

<body>
	<div class="offcanvas-wrapper">
		<!-- Page Title-->
		<div class="page-title">
			<div class="container">
				<div class="column">
					<h1>게시판</h1>
				</div>
				<div class="column">
					<ul class="breadcrumbs">
						<li><a href="/board/list/1">자유게시판</a></li>
						<li class="separator">&nbsp;</li>
						<li><a href="/board/list/2">1:1문의</a></li>
						<li class="separator">&nbsp;</li>
						<li><a href="/board/list/3">공지사항</a></li>
						<li class="separator">&nbsp;</li>
						<li><a href="/board/list/4">자주하는질문</a></li>
						<li class="separator">&nbsp;</li>
						<li>게시판</li>
					</ul>
				</div>
			</div>
		</div>
		<hr class="my-4">
		<div class="container padding-bottom-2x">
			<div class="row">
				<div class="col-lg-9 col-md-8 order-md-2">
					<h6 class="text-muted text-normal text-uppercase margin-top-2x">Input types</h6>
					<hr class="margin-bottom-1x">
					<form>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="text-input">Text</label>
							<div class="col-10">
								<input class="form-control" type="text" id="text-input" value="Artisanal kale">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="search-input">Search</label>
							<div class="col-10">
								<input class="form-control" type="search" id="search-input" value="How do I shoot web">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="email-input">Email</label>
							<div class="col-10">
								<input class="form-control" type="email" id="email-input" value="email@example.com">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="url-input">URL</label>
							<div class="col-10">
								<input class="form-control" type="url" id="url-input" value="https://getbootstrap.com">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="tel-input">Phone</label>
							<div class="col-10">
								<input class="form-control" type="tel" id="tel-input" value="1-(770)-334-2518">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="pass-input">Password</label>
							<div class="col-10">
								<input class="form-control" type="password" id="pass-input" value="mypasswordexample">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="textarea-input">Textarea</label>
							<div class="col-10">
								<textarea class="form-control" id="textarea-input" rows="5">Hello World!</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="select-input">Select</label>
							<div class="col-10">
								<select class="form-control" id="select-input">
									<option>Choose option...</option>
									<option>Option item 1</option>
									<option>Option item 2</option>
									<option>Option item 3</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="file-input">File</label>
							<div class="col-10">
								<div class="custom-file">
									<input class="custom-file-input" type="file" id="file-input">
									<label class="custom-file-label" for="file-input">Choose file...</label>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="number-input">Number</label>
							<div class="col-10">
								<input class="form-control" type="number" id="number-input" value="37">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="date-time-input">Date and time</label>
							<div class="col-10">
								<input class="form-control" type="datetime-local" id="date-time-input">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="date-input">Date</label>
							<div class="col-10">
								<input class="form-control" type="date" id="date-input" value="2017-06-13">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="month-input">Month</label>
							<div class="col-10">
								<input class="form-control" type="month" id="month-input" value="2017-06">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="week-input">Week</label>
							<div class="col-10">
								<input class="form-control" type="week" id="week-input" value="2017-W33">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="time-input">Time</label>
							<div class="col-10">
								<input class="form-control" type="time" id="time-input" value="14:45:00">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-2 col-form-label" for="color-input">Color</label>
							<div class="col-10">
								<input class="form-control" type="color" id="color-input" value="#f5f5f5">
							</div>
						</div>
						<hr class="my-4">

						<div class="row">
							<div class="col">
								<button class="w-100 btn btn-primary btn-lg" type="submit">등록</button>
							</div>
							<div class="col">
								<button class="w-100 btn btn-secondary btn-lg" onclick="location.href='board.html'"
									th:onclick="|location.href='@{/board/list/1}'|" type="button">돌아가기</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
		<div th:insert="include_common :: footer"></div>



		<!-- Back To Top Button-->
		<a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
		<!-- Backdrop-->
		<div class="site-backdrop"></div>
		<!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
		<script src="/bootstrap/js/vendor.min.js"></script>
		<script src="/bootstrap/js/scripts.min.js"></script>
		<script src="/bootstrap/js/card.min.js"></script>
		<script src="/bootstrap/js/modernizr.min.js"></script>

</body>

</html>